.pages-thank-you
  @include phone-lg
    padding: rem-calc(150) 1rem 4rem
  position: relative
  padding: rem-calc(200) 2rem 6rem
  min-height: 80vh

  &__container
    @include container

  &__title,
  &__text,
  &__list,
  &__actions
    @include col (8)
    @include col--offset (2)

  &__title
    @extend %h2
    margin-bottom: 1rem

  &__text
    margin-bottom: 1.5rem

  &__list
    margin-bottom: 2rem
    padding-left: 1.25rem
    list-style: disc

  &__list-item
    margin-bottom: .5rem

  &__actions
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
    align-items: center

  &__phone,
  &__link
    display: inline-block
    color: var(--primary)
    font-weight: 600
    text-decoration: underline

    &:focus,
    &:hover
      color: var(--secondary)